// estilos carrusel

#carouselExampleCaptions {
    width: 75%; 
    height: auto;
    margin: 0 auto; 
    margin-bottom: 10vh;
    border-radius: 50px;
    background: #060518;
    box-shadow:  28px 28px 55px #03020b,
                 -28px -28px 55px #090825;
                 
                 .border-radius__img{
                    border-radius: 20px;
                 }
  }
  
