@font-face {
  font-family: "Counter Strike";
  src: url(../scss/fonts/counter_strike/cs_regular.ttf) format("truetype"); }

@font-face {
  font-family: Rubik, sans-serif;
  src: url(../scss/fonts/Rubik/Rubik-VariableFont_wght.ttf); }

@font-face {
  font-family: AkayaKanadaka;
  src: url(../scss/fonts/Akaya_Kanadaka/AkayaKanadaka-Regular.ttf); }

@font-face {
  font-family: Schibsted Grotesk;
  src: url(../scss/fonts/Schibsted_Grotesk/SchibstedGrotesk-VariableFont_wght.ttf); }

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* estilos de index*/
body {
  background-color: #060518; }
  body header nav {
    border-radius: 26px;
    background-color: #151426;
    box-shadow: 13px 13px 26px #000000,-13px -13px 26px #21213a;
    margin-top: 2vh; }
    body header nav img {
      margin-left: 8rem;
      height: 3.5rem;
      width: auto; }
      @media screen and (max_width: 480px) {
        body header nav img {
          margin-right: 8rem;
          height: 1rem;
          width: auto; } }
    body header nav ul {
      margin-left: 5%;
      gap: 4.5rem; }
      @media screen and (max_width: 480px) {
        body header nav ul {
          gap: 1rem; } }
    body header nav .nav__a {
      color: #BDD5EF;
      font-weight: lighter;
      font-family: 'Schibsted Grotesk', sans-serif; }
  @media screen and (max_width: 480px) {
    body header div {
      display: flex;
      text-align: center; } }
  body header div h1 {
    color: white;
    font-family: Counter Strike;
    margin: 2rem 3rem 3rem 3rem;
    display: flex;
    justify-content: center; }

main div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }
  main div img {
    border-radius: 26px;
    color: #060518;
    box-shadow: -13px -13px 26px #02020a, 13px 13px 26px #0a0826;
    height: 33rem;
    width: auto; }
  main div p {
    color: #EDE8E5;
    overflow: hidden;
    margin: 2rem 2rem 2rem 2rem;
    text-align: center;
    font-style: italic;
    font-weight: 600; }

section {
  margin-left: 6rem;
  display: flex;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vh; }
  section iframe {
    margin-left: 2rem; }
  section div {
    margin-top: 6rem;
    margin-left: 2rem;
    padding: 10%;
    width: 70%;
    height: 50%;
    background-color: #403F4E;
    display: flex;
    align-items: center;
    border-radius: 31px;
    background: #797884;
    box-shadow: 7px 7px 16px #070721, -7px -7px 16px #121023; }
    section div p {
      color: #080434;
      max-width: 100%;
      margin: 0 auto;
      font-weight: bold; }

footer {
  background-color: #151426;
  height: 4rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }
  footer div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; }
    footer div .footer__img {
      display: flex;
      justify-content: center;
      width: 5vh;
      height: 5vh; }
  footer h3 {
    font-size: small;
    font-style: oblique;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-right: 10rem;
    color: #BDD5EF; }
  footer .footer__a {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    padding: 10px 20px;
    background-color: #e15147;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; }
