@font-face {
    font-family: "Counter Strike"; 
    src: url(../scss/fonts/counter_strike/cs_regular.ttf) format('truetype');
  }

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// pagina principal
@import "../scss/paginas/index";
