// imports
@import "../utilidades/mixin";
@import "../utilidades/listas";
@import "../utilidades/variables";

/* estilos de index*/
// estilos generales de header

body{
    background-color: $principal-ct;
    header{
        nav{
            border-radius: 26px;
            background-color: nth($colores-ct, 2 );
            box-shadow:  13px 13px 26px #000000,-13px -13px 26px #21213a;
            margin-top: 2vh;
            @include celular { 
                
            }
            img{
                margin-left: 8rem;
                @include height (3.5rem);
                @include celular () {
                    margin-right: 8rem;
                    @include height (1rem);
                }
            }
            ul{
                margin-left: 5%;
                gap: 4.5rem;

                @include celular { 
                    gap: 1rem;
                }
            }

            .nav__a{
                color: $letras-claritas;
                font-weight: lighter;
                font-family: 'Schibsted Grotesk', sans-serif;
            }
        }
        div{
            @include celular (){
                display: flex;
                text-align: center
            }
            h1{ // me gustaria hacer mas grande este h1 de alguna manera
                color: white;
                font-family: Counter Strike;
                margin: 2rem 3rem 3rem 3rem;
                display: flex;
                justify-content: center;
                @include tablet {
                    
                }
                @include celular {

                }
            }
        }
    }
}

// estilos de main

main{
    div{
        @include flex(flex, column, nowrap, center, center) ;
        img{
            border-radius: 26px;
            color: #060518;
            box-shadow:  -13px -13px 26px #02020a,
             13px 13px 26px #0a0826;
             @include celular {

            }
             @include height(33rem);
        }
        p{
            color: $letras-normales;
            overflow: hidden;
            margin: 2rem 2rem 2rem 2rem;
            text-align: center;
            font-style: italic;
            font-weight: 600;
        }
    }
}

// estilos de section

section{
    margin-left: 6rem;
    display: flex;
    justify-content: space-evenly;
    @include grid ( 2 , 1vh );
    iframe{
        margin-left: 2rem;
    }
    div{
        margin-top: 6rem;
        margin-left: 2rem;
        padding: 10%;
        width: 70%;
        height: 50%;
        background-color: nth($colores-ct, 4 );
        display: flex;
        align-items: center;
        border-radius: 31px;
        background: #797884;
        box-shadow:  7px 7px 16px #070721,
             -7px -7px 16px #121023;
        p{
            color: $letras-oscuras;
            max-width: 100%;
            margin: 0 auto;
            font-weight: bold;
        }
    }
}

// estilos generales de footer

footer{
    background-color: nth($colores-ct , 2 );
    height: 4rem;
    @include flex (flex, row, nowrap, center, center);
    div{
        @include flex (flex, row, nowrap, center, center);
        .footer__img {
            display: flex;
            justify-content: center;
            width: 5vh;
            height: 5vh;
        }
    }

    h3{
        font-size: small;
        font-style: oblique;
        display: flex;
        align-items: center;
        justify-items: center;
        margin-right: 10rem ;
        color: $letras-claritas
    }

    .footer__a{
        position: fixed;
        bottom: 20px; 
        right: 20px; 
        z-index: 9999;
        padding: 10px 20px;
        background-color: #e15147;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}